<app-navbar></app-navbar>

<div class="container main">
  <flash-messages></flash-messages>

  <div class="jumbotron text-center">
    <img src="../../../assets/images/52.png" width="300" height="250" />
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap&subset=korean" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet" />
    <br />
    <br />
    <p class="lead">
      500만명의 셀럽들이 가입한 누구보다 강력한 보안시스템 서비스
    </p>
    <p class="row">
      (한 번의 로그인으로 저장과 공유까지 쉽고 빠르게, 안정적인 클라우드 서비스를
      만나보세요)
    </p>

    <br /><br /><br />

    <div>
      <a class="btn btn-primary" routerLink="/register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success" routerLink="/login">Login</a>
    </div>
  </div>
</div>
