.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.login-form {
  width: 280px;
}

.login-form-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

.margin {
  margin: 0 !important;
}

.pointer-events {
  pointer-events: auto !important;
}

.input-field >.material-icons  {
  padding-top:10px;
}

a {
  color:black;
  text-decoration: none;
}


/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: black;
}

.input-field button[type=submit]:focus {
  color: black;
}

.card-panel{
    border-radius: 10px;
}
