table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #444444;
  padding: 10px;
  text-align: center;
}

td {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 22px;
}

td {
  font-family: "Nanum Pen Script", cursive;
}
