<div class="jumbotron text-center">
  <img src="../../../assets/images/5.png" width="300" height="300" />
  <link
    href="https://fonts.googleapis.com/css?family=Stylish&display=swap&subset=korean"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap"
    rel="stylesheet"
  />
  <br />
  <p class="lead">
    350만 대학생을 위한
  </p>
  <p class="row">
    국내 1위 대학생 서비스 셀럽파이브!
  </p>

  <br />

  <div>
    <a class="btn btn-primary" routerLink="/register">Register</a
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-success" routerLink="/login">Login</a>
  </div>
</div>