p.lead {
  font-family: "Stylish", sans-serif;
  font-size: 35px;
  color: black;
}

p.row {
  display: inline-block;
  font-family: "Nanum Pen Script", cursive;
  text-align: center;
  font-size: 30px;
}
.jumbotron {
  background-color: rgb(246, 247, 248);
}

.btn {
  background-color: #418cff;
}
